/* *{
    outline: 1px dashed lightcoral;
}*/

.foto_perfil img{
    width: 90%;
    border-radius: 5px;
    
}
.foto_perfil{
   
}
.font-pequena{
    font-size: x-small;
    margin-top: 2px;
    color: var(--primary-color);
}

.header__social-icons{
    font-size:small;
    
}
.skills__title{
    color:var(--primary-color);
}
.skills__title1{
    color: orange;
}
.skills__description{
    color: var(--primary-color);
}
:root {
    /*Perfil de Cores*/
    --primary-color: #0367A6 ;
    --secondary-color:#011526 ;
    --tertiary-color:#023059 ;
    --quaternary-color:#035AA6 ;
    --quinary-color:#91BBF2 ;
    --ligth-color: white ;
    --dark-color: black ;
    --grayscale: #f2f2f2 ;

    /*Tamanhos Padrões*/
    --extra-small-size: 4px ;
    --small-size: 8px ;
    --medium-size: 16px ;
    --large-size: 32px ;
    --extra-large-size: 64px ;
}

.header {
    background: #0367A6  ;
    background: linear-gradient(90deg,#023059    0%,#035AA6 100%);
}

.header__title {
    color: var(--ligth-color);
}

.header__social-icons {
    color: var(--ligth-color);
}

.skills__column-left {
    background: var(--quaternary-color);
}

.skills__title {
    font-size:0.9rem ;
    font-weight: bold;
    color: var(--light-color);
}

.skills__label {
    font-size: 0.8rem;
    color: var(--ligth-color);
}